<section id="portfolio">
    <div class="container">
        <h2><strong>{{'projects.title' | translate}} </strong></h2>
        <span class="bar-title mb-5"></span>
        <div class="d-flex flex-row justify-content-center">
            <select class="form-select form-select-lg mb-3" [(ngModel)]="selectedCategory">
                <option value="">{{'projects.allCategories' | translate}}</option>
                <option value="{{'projects.sideProject' | translate}}">{{'projects.sideProject' | translate}}</option>
                <option value="{{'projects.freelanceProject' | translate}}">{{'projects.freelanceProject' | translate}}</option>
            </select>
        </div>
        <div class="row mt-5">
            <div class="col-lg-4 col-sm-12 " *ngFor="let project of filteredProjects;">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                    <div class="card-header d-flex flex-column " style="height: 400px;width: 100%;">
                        <div id="{{project.id}}-img" class="img-wrap" style="height: 400px;width: 100%;"
                            [ngStyle]="{'backgroundImage':'url('+project.images[0].src+')'}">
                        </div>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{project.name}}</h3>
                        <div class="">
                            <a href="{{project.codeSourceUrl}}" target="_blank" target="_blank"
                                type="button" class="btn btn-primary mr-3">{{'projects.sourceCode' | translate}}</a>
                            <button (click)="detailOnClick(project)" type="button" class="btn btn-primary">
                                <span *ngIf="!project.detailIsDisplayed">+</span>
                                <span *ngIf="project.detailIsDisplayed">-</span>
                                {{'projects.technologies' | translate}}
                            </button>
                        </div>
                        <div style="font-size:xx-large;" *ngIf="project.detailIsDisplayed" [innerHTML]="project.technologies">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>